<div class="container">
  <div class="row col-md-10 offset-md-1 custyle">
    <button type="button" class="btn btn-md btn-primary float-right" (click)="openModal(template)" style="margin-top: 10px;">Add Method
      <i class="fa fa-plus"></i>
    </button>
    <table class="table table-striped custab">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let method of methods ">
        <td>{{method.id}}</td>
        <td>{{method.name}}</td>
        <td>{{method.type}}</td>
        <td class="text-center">
          <a class='btn btn-info btn-xs' href="#">
            <span class="glyphicon glyphicon-edit"></span> Edit</a>
          <a class="btn btn-danger btn-xs" (click)="deleteMethod(method.id)">
            <span class="glyphicon glyphicon-remove"></span> Del</a>
        </td>
      </tr>
    </table>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Method</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-signin" [formGroup]="AddMethodForm" (ngSubmit)="addMethod(AddMethodForm.value)">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" name="name" placeholder="Method Name" required="" autofocus="" formControlName="name"
            />
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" formControlName="type" placeholder="Type" required="" autofocus="">
          </div>
        </div>

        <hr>

        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!AddMethodForm.valid" (click)="modalRef.hide()">Add</button>

      </form>
    </div>
  </ng-template>
</div>
